* {

    margin: 0;
    padding: 0;
    text-decoration: none;

}
body {

    background-color: white;

}

.login_button {

    background-color: white;
    border: none;
    text-align: center;
    width: 130px;
    height: 40px;
    font-size: medium;
    transition-duration: 0.4s;
    border-radius: 18px;
    outline: none;
    font-weight: bold;
    cursor: pointer;
    color: lightgreen;
    
    
}
.login_button:hover {

    background-color: green;
    color: lightgreen;

}
nav {
    
    width: 100%;
    height: 100px;
    background-color: lightgreen;

}
.table_links {

    color: black;
    text-decoration: none;
    background-color: none;
    
    
    }
    
    .table_home {
    
    text-align: left;
    margin-left: 15%;
    margin-right: 20%;
    width: 60%;
    margin-top: 200px;
    border-spacing: 30px;
    
    
    }
    
    .td_home {
    
    width: 50%;
    font-size: 24px;
    color:black;
    font-family: Arial, Helvetica, sans-serif;
    
    }
    
    .th_home {
    
    font-size: 40px;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    
    
    }
    
    .table_home_right {
    
    
    text-align: right;
    margin-right: 15%;
    width: 60%;
    margin-top: 200px;
    border-spacing: 30px;
    
    
    }
    .td_home_right {
    
    text-align: right;
    width: 50%;
    font-size: 24px;
    color:black;
    font-family: Arial, Helvetica, sans-serif;
    
    
    
    }
    
    .th_home_right {
    
    text-align: right;
    font-size: 40px;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    
    }
    footer {

        margin-top: 200px;
        width: 100%;
        height: 400px;
        background-color: rgb(71, 71, 71);
        position: relative;
        bottom: 0;
    
    }
    .footer_nav {

        background-color: rgb(71, 71, 71);
        position: relative;
        bottom: 0;
    
    }
    ul li {

        list-style: none;
        display: inline-block;
        line-height: 100px;
        font-weight: bold;  
    
    }
    .ul_li_left {
    
        float: left;
    
    }
    .ul_li_right {
    
        
        float: right;
        margin-right: 60px;
    
    }
    ul li a {
    
        font-size: 30px;
        font-family: Arial;
        color: white;
        padding: 0 20px;
    
    }
    
    table {
    
        margin-left: auto;
        margin-right: auto;
        
    
    } 
    th {
    
        color: white;
        padding: 6px;
        text-align: left;
        width: 400px;
        height: 30px;
        font-size: 32px;
    
    }
    td {
    
        color: white;
        padding: 6px;
        text-align: left;
        width: 400px;
        height: 10px;
        font-size: 20px;
    
    }
    
    .blog_lines {
    
    border: 1px solid black;
    width: 99.9%;
    width: 40%;
    margin-right: 30%;
    margin-left: 30%;
    margin-top: 200px;
    
    }
    
