* {

    margin: 0;
    padding: 0;
    text-decoration: none;

}

body {
    background-color: coral;
}

nav {

    width: 100%;
    height: 100px;
    background-color: lightgreen;

}

ul li {

    list-style:none;
    display: inline-block;
    line-height: 100px;
    font-weight: bold;  

}

ul li a {

    margin-left: 200px;
    font-size: 30px;
    font-family: Arial;
    color: white;
    padding: 0 20px;

}

/* Dropdown Button */
.dropbtn {
    background-color: lightgreen;
    color: white;
    padding: 16px;
    font-size: 30px;
    border: none;
    font-weight: bold;
    outline: none;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
    margin-left: 200px;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: coral;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: rgb(252, 122, 74);}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {display: block;}
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {background-color: none;}

  footer {

    margin-top: 200px;
    width: 100%;
    height: 400px;
    background-color: rgb(71, 71, 71);
    position: relative;
    bottom: 0;

}
table {

    margin-left: auto;
    margin-right: auto;
    

} 
th {

    color: white;
    padding: 6px;
    text-align: left;
    width: 400px;
    height: 30px;
    font-size: 32px;

}
td {

    color: white;
    padding: 6px;
    text-align: left;
    width: 400px;
    height: 10px;
    font-size: 20px;

}
.h1_footer {

    margin-top: 40px;
    margin-left: 220px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 24px;
    color: white;

}

.made {

    margin-top: 1200px;
    width: 0;


}

.box {

    border-radius: 6px;
    width: 40%;
    height: 800px;
    padding: 0;
    margin: 0;
    margin-top: 300px;
    margin-bottom: 400px;
    margin-left: 30%;
    position: absolute;
    background: white;

}

.h1_signup {

    font-family: Arial, Helvetica, sans-serif;
    margin-top: 50px;
    margin-bottom: 100px;
    margin-left: 15%;

}

.box input[type = "number"] {

background: none;
display: inline-block;
width: 20%;
height: 40px;
font-size: 18px;
margin-left: 15%;
margin-top: 50px;
border: 2px solid black;
border-radius: 6px;
outline: none;



}

::placeholder {

    color: red;


}

.box input[type="text"], .box input[type="time"] {
background: none;
display: block;
width: 56%;
margin-left: 15%;
height: 40px;
font-size: 18px;
margin-top: 50px;
border: 2px solid black;
border-radius: 6px;
outline: none;


}

.box input[type="textarea"] {
    background: none;
    display: block;
    width: 56%;
    margin-left: 15%;
    height: 40px;
    font-size: 18px;
    margin-top: 50px;
    border: 2px solid black;
    border-radius: 6px;
    outline: none;
}

input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {

    -webkit-appearance: none;
    margin: 0;
}


#boxbutton {


    margin-top: 100px;
    margin-left: 15%;
    background-color: white;
    border: none;
    text-align: center;
    width: 130px;
    height: 40px;
    font-size: medium;
    transition-duration: 0.4s;
    border-radius: 18px;
    outline: none;
    font-weight: bold;
    cursor: pointer;
    color: lightgreen;
    
}

#boxbutton:hover {

    background-color: green;
    color: lightgreen;    


}

.body_two {

    background-color: coral;


}

